*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 65%;
    height: 83%;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    filter: blur();
    position: relative;
    display: flex;
    border-radius: 9px;
    overflow: hidden;
}

.player{
    flex: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.score{
    font-size: 5rem;
    color: #c7365f;
    margin-bottom: auto;
}

.current{
    background-color: #c7365f;
    border-radius: 9px;
    color: #fff;
    width: 40%;
    text-align: center;
    padding: 1.5rem 2.5rem;
    transition: all 0.75s;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #ddd;
}

.current-score {
    font-size: 2.5rem;
}

.dice{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10rem;
    height: 6rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--active{
    background-color: rgba(255, 255, 255, 0.35);
}

span{
    font-size: 1.4rem;
    margin-right: 1.2rem;
    display: inline-block;
}

.btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.7rem 1.5rem;
    border-radius: 50rem;
    color: #444;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    cursor: pointer;
}

.btn--new{
    top: 2rem;
}

.btn--roll{
    top: 25rem;
}

.btn--hold{
    top: 29.5rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.hidden{
    display: none;
}

.player--winner{
    background-color: #2f2f2f;
}